.ciao {
    font-size: 24px;
    text-align: center;
    font-family: 'Noto Sans JP';
    user-select: none; 
    -moz-user-select: none; 
    -webkit-text-select: none; 
    -webkit-user-select: none; 
}
#ciao2 {
    font-size: 18px;
    position: fixed;
    background-image: url("glowanim.gif");
    font-weight: bold;
    font-family: 'Noto Sans JP';
    user-select: none; 
    -moz-user-select: none; 
    -webkit-text-select: none; 
    -webkit-user-select: none; 
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 10px rgba(255, 255, 255, );

}

.cracked {
    width: 48px;
    margin: auto; 
    display: block; 
    text-align: center;
    margin-top: 40px; 
}